apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  labels:
    app: techtrends
  name: techtrends
  namespace: {{.Values.namespace.name}}
spec:
  replicas: {{.Values.replicaCount}}
  selector:
    matchLabels:
      app: techtrends
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: techtrends
    spec:
      containers:
        - image: {{.Values.image.repository}}:{{.Values.image.tag}}
          imagePullPolicy: {{.Values.image.imagePullPolicy}}
          name: techtrends
          ports:
            - containerPort: {{.Values.containerPort}}
              protocol: {{.Values.service.protocol}}
          livenessProbe:
            httpGet:
              path: {{.Values.livenessProbe.path}}
              port: 3111
          readinessProbe:
            httpGet:
              path: {{.Values.readinessProbe.path}}
              port: 3111
          resources:
            requests:
              memory: {{.Values.resources.requests.memory}}
              cpu: {{.Values.resources.requests.cpu}}
            limits:
              memory: {{.Values.resources.limits.memory}}
              cpu: {{.Values.resources.limits.cpu}}
